{% extends './base.html' %}{{super()}}

{% block content %}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div style="margin-left: 50px;">
        <h1 class="h3 ">
            Bonus Task: 
            <p style="margin-left: 10px;margin-right: 10px;">
                The task here is to provide the user with forecasting information about its future eenrgy cosnumption considering the 
                data from recorded history (i.e., uploaded data to the platform).
                A pre-trained model for hourly load forecasting can be found in the following 
                <a href="https://drive.google.com/file/d/1PvcBgNPbCRiBSJBbmkrmpf8QtcuBgWHQ/view?usp=sharing">link</a>.
               

            </p>
        

        </h1>

    </div>
    
</div>

{% endblock %}