{% extends './base.html' %}{{super()}}

{% block content %}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div style="margin-left: 50px;">
        <h1 class="h3 ">
            This is page for plotting historical data <br/><br/>

            <p style="margin-left: 10px;margin-right: 10px;">

                Your task here is to load the data from the database related to the active user and 
                plot a history according to the specified period of time.

            </p>
        

        </h1>

    </div>
    
</div>

{% endblock %}